.g-social {
    margin: 0 1.5rem;
    a {
        padding: 0.1875rem 0.4rem;
        text-decoration: none;

        @include breakpoint(tablet-range) {
            padding: 0.1875rem 0.25rem;
        }
    }

    @include breakpoint(mobile-only) {
        text-align: center;
    }
}
