.g-topposts-sz {
    margin-left: -($base-content-padding);
    margin-right: -($base-content-padding);
    .g-grid {
        margin-bottom: ($base-content-padding + $base-content-margin) * 1.5;
        &:last-child {
            margin-bottom: 0;
            .g-block {
                &:last-child {
                    .g-array-item {
                        @include breakpoint(mobile-only) {
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        @include breakpoint(mobile-only) {
            margin-bottom: 0;
        }
    }
    .g-content {
        margin: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    .g-array-item {
        @include breakpoint(mobile-only) {
            margin-bottom: ($base-content-margin + $base-content-padding) * 1.5;
        }
    }
    .g-array-item-image {
        margin: 0 0 15px 0;
    }
    .g-item-title {
        margin: 0;
    }
    .g-array-item {
        &-details,
        &-text,
        &-read-more {
            margin: 15px 0 0;
        }
    }
    .g-array-item-details {
        font-size: 90%;
        >span {
            margin-right: 10px;
        }
        i {
            margin-right: 5px;
        }
    } // LAYOUT FEATURED ========================
    $main_blog_image_height: 40vh; 
    div.g-grid.sz-featured {
        
        .g-block {
            position: relative;
            overflow: hidden;
            // background-repeat: no-repeat;
            // background-position: center;
            // background-size: cover;
            img {
                // auto scale and center
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                max-width: 100%;
                max-height: 100%;
                min-width : 20rem;
                
            }
            
            .g-content {
                position: absolute;
                bottom: 0.9rem;
                background-color: $accent-color-3;
                padding-left: 1rem;
                padding-right: 1rem;
                margin-left: 5%;
                width: 90%;
                .g-item-title {
                    font-size: 1.1rem;
                    a {
                        color: white !important;
                    }
                }
            }

        }
        
        /* put them at the end
           so as not to be overiden
           the first element 
        */
        margin: 0;
        float: left;
        &:first-of-type {
            width: 50%;
            height: $main_blog_image_height; // fix auto scale for main image
            div a img {
                min-width: 40rem;
            }
            .g-item-title {
                font-size: 1.5rem !important;
            }
        }

        &:nth-of-type(2),
        &:nth-of-type(3),
        &:nth-of-type(4),
        &:nth-of-type(5) {
            width: 25%;
            height: $main_blog_image_height / 2;
        }
    }
}
